<div class="modal fade" id=<%="trash#{@food.id}"%>>
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<p><strong><span class="fa fa-frown-o"></span> You Wasted This Food... <span class="fa fa-frown-o"></span></strong></p>
			</div>
			<div class="modal-body">
				<p>Would you like to add this to your shopping List?</p>
			</div>
			
			<div class="modal-footer">
			<%= link_to "Yes, add to List", move_to_list_trashed_path(@food), class: "btn btn-default", :method => :post, :remote => true%>


			<%= link_to "No, delete it", @food, class: "btn btn-default", :method => :delete, :remote => true%>
			</div>
			
			
		</div>
	</div>
</div>



