<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h3>Moving To Kitchen</h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to move this item to the Kitchen?</p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Keep in List</button>
				<%= submit_tag "To Kitchen >>", class: "btn btn-primary" %>
			</div>
			
			
		</div>
	</div>
</div>