<h1>My Data</h1>
<h2>Percent of food eaten (not trashed!) over time</h2>
<p>To save money and other resources, we strive to avoid food waste by eating as much of what we buy as possible. How is your food waste trend?</p>
<div id="graph"></div>
<% @ghosts.each do |ghost| %>
	<p><strong><%=ghost.name%></strong> was eaten <%=ghost.eaten%> times and thrown out <%=ghost.trashed%> times.</p>
<% end %>
