<div class="wrapper3">

<h1>Welcome to <a class="special">Food4U</a></h1>

<p>
	A nifty app that will help you use your food before it expires!
</p>

<br>
<%= button_to "Go to List Page", "/list", :method => :get, class: "btn btn-default" %>
<br>

<%= button_to "Go to Kitchen Page", "/kitchen", :method => :get, class: "btn btn-default" %>

<br>

<%= button_to "View Data", "/data", :method => :get, class: "btn btn-default" %>


</div>