<h1>Welcome to Food4U</h1>

<br>
<%= button_to "Go to Kitchen Page", "/kitchen", :method => :get, class: "btn btn-default" %>
<br>

<%= button_to "Go to List Page", "/list", :method => :get, class: "btn btn-default" %>