<h1>Welcome to Food4U</h1>

<br>
<%= button_to "Go to Kitchen Page", "/kitchen", :method => :get, class: "btn btn-default" %>
<br>

<<<<<<< HEAD
<%= button_to "Go to List Page", "/list", :method => :get, class: "btn btn-default" %>
=======
<%= button_to "kitchen", "/kitchen", :method => :get, class: "btn btn-default" %>
<br>

<%= button_to "list", "/list", :method => :get, class: "btn btn-default" %>
>>>>>>> 544ff6ba18fd01d0243805b8989673750fbc74bc
