
<h1>This is the Kitchen View Page</h1>


<h1>Expires Today</h1>


<h1>Expires Tomorrow</h1>


<h1>Expires This Week</h1>

<br>
<%= button_to "Go to List Page",  "/list" , :method => :get, class: "btn btn-default" %>