

<h1>This is the List View Page</h1>



<%= form.field_container :food , :include_blank => "Please Select" %>

<p>Purchase 3</p>
<p>Purchase 4</p>
<p>Purchase 5</p>
<p>Purchase 6</p>

<%= button_to "Go to Kitchen Page",  "/kitchen" , :method => :get, class: "btn btn-default"%>






