<%= form_for @food do |f| %>
	<%= f.search_field 'name' %>
	<%= f.hidden_field 'still_tasty_id' %>
	<%= f.hidden_field 'shelf_life' %>
<% end %>

<ul class="list-group" id="suggestions">
	
</ul>

<div class="results"></div>