/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
 @import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
 @import url(https://afeld.github.io/emoji-css/emoji.css);
 @import 'bootstrap-sprockets';
 @import 'bootstrap';


.modal-header {
	text-align: center;
}

.modal-body {
	text-align: center;
}

.modal-footer {
	text-align: center;
}


.fa-smile-o {
	color: #02C8A7;
	font-size: 30px;
};

.fa-frown-o {
	color: #02C8A7;
	font-size: 30px;
};

.chango {
	font-family: 'Abril Fatface', cursive;
	font-size: 60px;
	color: #02C8A7;
	text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
};

.btn-default {
 	box-shadow: 2px 2px 2px #e5e5e5;
 	border: 1px solid #e5e5e5;
 	border-radius: 4px;
 	padding: 7px 30px;
 	color: #fff;
 	background: #02C8A7;
 	font-family: 'Lato', sans-serif;
 	width: 175px;
 	&:hover {
 		background: #02C8A7;
 		color: #fff;
 		font-size: 15px;
 	}
 };

.btn.cancel.btn-default {
	box-shadow: 2px 2px 2px #e5e5e5;
 	border: 1px solid #e5e5e5;
 	border-radius: 4px;
 	padding: 7px 30px;
 	color: #fff;
 	background: #02C8A7;
 	font-family: 'Lato', sans-serif;
 	width: 175px;
 	&:hover {
 		background: #02C8A7;
 		color: #fff;
 		font-size: 15px;
 	}
 };

 .btn-default2 {
 	box-shadow: 2px 2px 2px #e5e5e5;
 	border: 1px solid #e5e5e5;
 	border-radius: 4px;
 	padding: 7px 30px;
 	color: #fff;
 	background: #02C8A7;
 	font-family: 'Lato', sans-serif;
 	width: 175px;
 	// &:hover {
 	// 	background: #02C8A7;
 	// 	color: #fff;
 	// 	font-size: 15px;
 	// }
 };

 .btn-primary {
 	box-shadow: 2px 2px 2px #e5e5e5;
 	border: 1px solid #e5e5e5;
 	border-radius: 4px;
 	padding: 7px 30px;
 	color: #fff;
 	background: #02C8A7;
 	font-family: 'Lato', sans-serif;
 	width: 155px;
 	float: right;
 };

 .btn-primary:hover {
 	background: #02C8A7;
 	color: #fff;
 	font-size: 15px;
 };

 .btn-primary2 {
 	box-shadow: 2px 2px 2px #e5e5e5;
 	border: 1px solid #e5e5e5;
 	border-radius: 4px;
 	padding: 7px 30px;
 	color: #fff;
 	background: #02C8A7;
 	font-family: 'Lato', sans-serif;
 	width: 155px;
 };

 i {
 	margin-top: -8px;
 	width: 35px;
 	text-align: center;
 	height: 35px;
 	border-radius: 100%;
 	padding-top: 9px;
 	border: 1px solid #02C8A7;
 	color: #02C8A7;
 	display: block;
 	cursor: pointer;
 	&:hover {
 		background: #02C8A7;
 		color: #fff;
 	}
 };

 .i2 {
 	margin-top: -8px;
 	margin-left: 60%;
 	width: 35px;
 	text-align: center;
 	height: 35px;
 
 };

 .i3 {
 	margin-top: -8px;
 	margin-left: 20px;
 	width: 35px;
 	text-align: center;
 	height: 35px;
 
 };

 .fa-trash-o:before {
 	font-size: 16px;
 };

 .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
 	z-index: 2;
 	color: #fff;
 	background-color: #02C8A7;
 	border-color: #02C8A7;
 };

 .col-sm-8 {
 	margin-top: 7px;
 };

 .col-xs-1 {
 	margin-top: 7px;
 };

 .col-xs-2 {
 	margin-top: 11px;
 };

 .col-xs-8 {
 	margin-top: 15px;
 	padding-left: 150px;
 };

