// Place all the styles related to the food controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper2 {
	width: 85%;
	height: 100%;
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 2px 2px 2px #e5e5e5;
	border-radius: 4px;
};